body {
    background-color: gray;
    color: rgb(58, 54, 54);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: rgb(164, 0, 93);
    margin-bottom: 15px;
}

section {
    max-width: 800px;
    width: 100%;
    background-color: lightgray;
    border: 2px solid rgb(37, 37, 37);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
}

button {
    background-color: rgb(236, 59, 168);
    border: 3px solid rgb(164, 0, 93);
    cursor: pointer;
}