body{
    background-color: gray;
    color: rgb(58, 54, 54);
}

h1{
    text-align: center;
    color: rgb(164, 0, 93);
}
section{
    text-align: center;
}

#randomSect,
#addSect, 
#categorySect,
#outputSect{
    max-width: 800px;
    background-color: lightgray;
    border: 2px solid rgb(37, 37, 37) ;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

button{
    background-color: rgb(236, 59, 168);
    border: 3px solid rgb(164, 0, 93);
}
